<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>siri_lite</servlet-name>
		<servlet-class>siri_lite.api.ApplicationConfig</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>siri_lite</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>